<main class="container resume-wrapper">
  <h1 class="title">My Resume</h1>

  <div class="resume-content">
    <!--Education-->
    <div class="content">
      <a
        data-bs-toggle="collapse"
        href="#collapseEducation"
        role="button"
        aria-expanded="false"
        aria-controls="collapseEducation"
        class="section-toggle"
      >
        <div class="div-line"></div>
        <h1 class="section-title">Education</h1>
      </a>

      <div class="collapse" id="collapseEducation">
        <div class="collapse-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </div>

    <!-- Work Experience -->
    <div class="content">
      <a
        data-bs-toggle="collapse"
        href="#collapseWork"
        role="button"
        aria-expanded="false"
        aria-controls="collapseWork"
        class="section-toggle"
      >
        <div class="div-line"></div>
        <h1 class="section-title">Work Experience</h1>
      </a>
      <div class="collapse" id="collapseWork">
        <div class="collapse-body">
          Content for Work
          <ul>
            <li>Trabalho 1</li>
            krfakrmaprm
            <li>trabalho 2</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Extracurricular -->
    <div class="content">
      <a
        data-bs-toggle="collapse"
        href="#collapseExtracurricular"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExtracurricular"
        class="section-toggle"
      >
        <div class="div-line"></div>
        <h1 class="section-title">Extracurricular Experience</h1>
      </a>
      <div class="collapse" id="collapseExtracurricular">
        <div class="collapse-body">
          Content for Extracurricular
          <ul>
            <li>Trabalho 1</li>
            krfakrmaprm
            <li>trabalho 2</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Work Skills -->
    <div class="content">
      <a
        data-bs-toggle="collapse"
        href="#collapseSkills"
        role="button"
        aria-expanded="false"
        aria-controls="collapseSkills"
        class="section-toggle"
      >
        <div class="div-line"></div>
        <h1 class="section-title">Skills Experience</h1>
      </a>
      <div class="collapse" id="collapseSkills">
        <div class="collapse-body">
          Content for Skills
          <ul>
            <li>Trabalho 1</li>
            krfakrmaprm
            <li>trabalho 2</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
