<nav class="navbar container navbar-expand-sm px-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Seguchi</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="/blog">Blog</a>
        <a class="nav-link" routerLink="/projects">Projects</a>
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="login"
          ><button type="button" class="btn-login">Login</button></a
        >

        <a
          class="nav-link"
          href="https://www.linkedin.com/in/caio-seguchi-882351232/"
          target="_blank"
        >
          <i class="bi bi-linkedin"></i>
        </a>
        <a
          class="nav-link"
          href="https://github.com/caioseguchi"
          target="_blank"
        >
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
<router-outlet><router-outlet /> </router-outlet>
