@import "../../../styles/variables.scss";
@import "../../../styles/font.scss";

.g-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-code;
  box-shadow: 2px;

  &:hover {
    background-color: $text-color;
  }
}
