@import "../../../styles/variables.scss";
@import "../../../styles/font.scss";

main {
  color: $text-color;
  font-family: $font-code;
  padding: 0 20px;
}

.top-page.container {
  max-width: 1200px;
}

.top-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 20px;

  margin-top: 40px;
}

.projects-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding: 40px 0;
}
