<main class="container">
  <div class="top-page">
    <h1>My Projects</h1>

    <div class="title-text">
      <p>
        I'm always looking for ways to learn by doing, which is why I created
        this site. "Seguchi" is my first project using Angular — a framework I
        was curious about and decided to explore. Rather than play it safe, I
        wanted to challenge myself and build something fun and useful while
        learning.
      </p>

      <p>
        This portfolio is where I put into practice what I learned during my
        time at NCI, as well as new topics I'm studying. Thanks for visiting —
        feel free to explore my projects!
      </p>
    </div>
  </div>

  <div class="projects-card">
    <app-project-card
      [title]="'Contacts Agenda CRUD'"
      [description]="
        'After signing up and logging in through the Seguchi platform, users can access the Contact Agenda to manage their contact list. The app allows full CRUD operations (Create, Read, Update, Delete) on contact information including name, email, and phone. It features a complete frontend–backend integration with a secure authentication system and data persistence using a MySQL database.'
      "
      [technologies]="[
        'Angular',
        'TypeScript',
        'HTML',
        'CSS',
        'Java',
        'Spring Boot',
        'MySQL',
        'Spring Security',
        'JWT'
      ]"
      [buttonLink]="'/list'"
    ></app-project-card>
    <app-project-card
      [title]="'Seguchi'"
      [description]="
        'A personal portfolio web app built to showcase my academic and personal projects, resume, and background. This full-stack project includes user authentication and protected routes, highlighting my transition into software development.'
      "
      [technologies]="[
        'Angular',
        'TypeScript',
        'HTML',
        'CSS',
        'BootStrap',
        'Spring Boot',
        'MySQL',
        'AWS'
      ]"
      [buttonLink]="'/'"
    ></app-project-card>
    <app-project-card
      [title]="'Dublin City Hotel'"
      [description]="
        'My first full-stack project developed during university. It features user registration with database integration, login functionality using Spring Security, and role-based access. Admins can view and search all registered users, while client users can view available rooms and check current weather data via an external API. The project was deployed on Heroku.'
      "
      [technologies]="[
        'Java',
        'JavaScript',
        'HTML',
        'CSS',
        'Spring Boot',
        'BootStrap',
        'thymeleaf',
        'MySQL'
      ]"
      [buttonLink]="'https://hotel-dublin-city-be28be526534.herokuapp.com'"
    ></app-project-card>
  </div>
</main>
