<div class="home">
  <div class="home-content container">
    <div class="text-content">
      <h1>Caio Seguchi</h1>
      <p>
        Fullstack Developer | Turning ideas into functional web applications
      </p>
      <button class="g-button" routerLink="login">Let’s get started</button>
    </div>
    <div class="img-content">
      <img
        class="img-profile"
        src="images/profile-picture.png"
        alt="Profile Picture"
      />
    </div>
  </div>
  <div class="container">
    <div class="project-info">
      <h2>Project Overview</h2>
      <p>
        During my Higher Diploma in Science in Computing at NCI, I gained a
        solid foundation in software development. However, I realized that I
        still had some knowledge gaps—especially in Spring Boot and Angular—that
        I wanted to close. To grow as a developer, I decided to learn by doing.
        This project was born from that decision: a fullstack web application
        built from scratch to sharpen my backend and frontend skills while
        exploring real-world concepts.
      </p>
    </div>
    <div class="project-info">
      <h2>Tech Stack & Features</h2>
      <p>
        This website is a fullstack application built with Angular (frontend)
        and Spring Boot (backend), and deployed on AWS. Key features include:
      </p>
      <ul>
        <li>
          User authentication (sign up & login) Role-based access control (Admin
          & User)
        </li>
        <li>
          Task management system with full CRUD (create, read, update, delete)
          operations
        </li>
        <li>
          Personalized dashboard: users manage their own tasks (with day, hour,
          description)
        </li>
        <li>
          Admin panel: view all users, search accounts, and delete accounts when
          needed
        </li>
        <li>External API consumption</li>
      </ul>
    </div>
    <div class="project-info">
      <h2>What's Next</h2>
      <p>
        This project is just the beginning. I plan to keep improving and
        expanding it while also adding new applications that showcase advanced
        features, third-party integrations, and broader use of cloud
        infrastructure.
      </p>
    </div>
    <div class="project-info">
      <h2>Thanks for stopping by!</h2>
      <p>
        I hope this project gives you a clear view of both my technical skills
        and my commitment to continuous learning. Feel free to explore, and
        don’t hesitate to get in touch!
      </p>
    </div>
  </div>
</div>
