<div class="home">
  <div class="home-content container">
    <div class="text-content">
      <h1>Caio Seguchi</h1>
      <p>
        Fullstack Developer | Turning ideas into functional web applications
      </p>
      <button class="g-button" routerLink="login">Let’s get started</button>
    </div>
    <div class="img-content">
      <img
        class="img-profile"
        src="images/profile-picture.png"
        alt="Profile Picture"
      />
    </div>
  </div>
  <div class="container">
    <div class="project-info">
      <h2>Intro</h2>
      <p>
        I'm a Brazilian software developer with a background in Mechanical
        Engineering and a passion for continuous learning. After four years
        working in engineering — including consulting, teaching robotics, and
        city infrastructure — I made the bold decision to move to Ireland to
        pursue new challenges and study abroad.
      </p>
      <p>
        Adapting to a new country, learning English, and working full-time while
        earning a First-Class Honours diploma in Computing at NCI taught me
        resilience and how to thrive under pressure.
      </p>
      <p>
        I love working in collaborative environments, solving problems, and
        continuously improving my skills. This portfolio is a space where I’ll
        share some of my projects as I grow in my software development journey.
      </p>
      <p>Thanks for visiting!</p>
    </div>
  </div>
</div>
