<div class="login">
  <main>
    <app-form-layout
      title="Login into your account"
      primaryBntText="Login Now"
      secondaryBntText="Signup Now"
      (submit)="submit()"
      (navigate)="navigate()"
      [disablePrimaryBtn]="!loginForm.valid"
    >
      <form [formGroup]="loginForm">
        <app-primary-input
          formControlName="email"
          inputName="email"
          type="email"
          label="Email"
          placeholder="joaomendes@gmail.com"
        >
          <i class="bi bi-envelope"></i>
        </app-primary-input>

        <app-primary-input
          formControlName="password"
          inputName="password"
          type="password"
          label="Your Password"
        >
          <i class="bi bi-lock"></i>
        </app-primary-input>

        <span>Forgot password</span>
      </form>
    </app-form-layout>
  </main>
</div>
