<main class="container">
  <button class="btn btn-primary">Post New Customer</button>

  <table>
    <thead>
      <tr>
        <th><strong>Name</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Phone</strong></th>
        <th><strong>Action</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>name</td>
        <td>email</td>
        <td>phone</td>
        <td>
          <button class="btn btn-update">Update</button>
          <button class="btn btn-delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
