<main class="container">
  <button class="btn btn-primary" routerLink="/contact">
    Post New Customer
  </button>

  <table>
    <thead>
      <tr>
        <th><strong>Name</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Phone</strong></th>
        <th><strong>Action</strong></th>
      </tr>
    </thead>
    <tbody>
      @for(contact of contacts; track contact.id){
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>
          <button class="btn btn-update" routerLink="/update-contact">
            Update
          </button>
          <button class="btn btn-delete">Delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
